/* 공통 초기화 및 전체 페이지 스크롤 */
html, body {
  height: auto;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  font-family: 'Segoe UI', sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
  box-sizing: border-box;
}
