
h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #dddddd;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 6px;
    background-color: #3a3a3a;
    color: #ffffff;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0EB4FC;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
.button-container {
    display: flex;
    flex-direction: column;
    gap: 30px; /* 버튼 사이 간격을 30px로 설정 */
}


button:hover {
    background-color: #0a9bd9;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link a {
    color: #0EB4FC;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
