<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Steam Game Review</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/components.css}" />
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
</head>
<body>
    <div class="first-page-container">
        <img th:src="@{/images/logo.png}" alt="Logo" class="logo-image" />
        <div class="button-container">
            <button class="main-button" onclick="location.href='/login'">로그인하기</button>
            <button class="main-button" onclick="location.href='/signup'">회원가입 하기</button>
        </div>
    </div>
</body>
</html>
