<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/components.css}" />
</head>
<body>
<div class="login-container">
    <h2>로그인</h2>
    <form th:action="@{/login}" method="post">
        <label>아이디 (userId)
            <input type="text" name="userId" required />
        </label>
        <label>비밀번호
            <input type="password" name="password" required />
        </label>
        <button type="submit">로그인</button>
    </form>

    <div class="message" th:if="${param.error}">
        아이디 또는 비밀번호가 올바르지 않습니다.
    </div>
    <div class="message" th:if="${param.logout}">
        로그아웃 되었습니다.
    </div>

	<div class="signup-link">
	    <a th:href="@{/find-id}">아이디 찾기</a> |
	    <a th:href="@{/find-password}">비밀번호 재설정</a> |
	    <a th:href="@{/signup}">회원가입</a>
	</div>

		
		
		
</div>
</body>
</html>
